
@import url('../stress.css');

.indexImage {
  width: 100%;
  height: 20em;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}

.indexElement {
  text-align: center;
  padding: 2em;
}

.indexElement.indexButton {
  background-color: #ddd;
}

.indexElement.indexButton:hover {
  background-color: #e6e6e6;
}

.content {
  padding: 0px !important;
  color: #333;
}

.row {
  padding: 0;
  margin: 0;
}

.row .light {
  background-color: #eee;
  padding: 2em;
}

.row .dark {
  background-color: #ddd;
  padding: 2em;
}

.row ul {
  list-style: none;
  line-stacking: 1em;
  padding-left: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

.row ul.questions {
  border-left: 3px solid #FF3800;
}

.row ul.facts {
  border-left: 3px solid #0026D4;
}

.row ul li {
  padding: 0.4em 0;
}


.top-bar {
  background-color: rgba(20, 78, 125, 0.2);
}