
@import url('../stress.css');

.indexImage {
  width: 100%;
  height: 20em;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}

.indexElement {
  text-align: center;
  padding: 2em;
}

.indexElement.indexButton {
  background-color: #ddd;
}

.indexElement.indexButton:hover {
  background-color: #e6e6e6;
}

.content {
  padding: 0px !important;
  color: #333;
}

.content .water, .content .dark {
  color: #BBEAF5;
  padding: 2em;
  font-weight: 500;
}

.content .dark {
  background-color: #0485A3;
}
.content .water {
   background-color: #32A3BD;
 }

.water a, .dark a {
  color: #FF9E3E;
}

.content ul {
  list-style: none;
  padding-left: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

.content ul.questions {
  border-left: 3px solid #BBEAF5;
}

.content ul.facts {
  border-left: 3px solid #034E60;
}

.content ul li {
  padding: 0.4em 0;
}


.top-bar {
  background-color: rgba(20, 78, 125, 0.2);
}

@media (max-width: 40em) {
  .row.content ul {
    margin-left: 0;
  }
}