
.content {
  color: #CBECF4;
  font-weight: 500;
}

.content h5 {
  margin-left: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.content .text {
  padding: 1em;
}

.text ul {
  margin-left: 1em !important;
}
