
.content {
  color: #CBECF4;
  font-weight: 500;
  padding-top: 0;
}

.content h5 {
  margin-left: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.content .text {
  padding: 1em;
}

.text ul {
  margin-left: 1em !important;
}

.navmenu {
  text-transform: uppercase;
  margin-right: 3em;
  margin-left: -3em;
}

.navmenu a:hover {
  color: #7CC8ED;
}

.navmenu h5 {
  /*margin-left: 8px;*/
  padding-top: 0.5em;
}

.navmenu .header {
  background-color: #0f83c1;
  border-bottom: 4px solid #39bfef;
}

.navmenu ul {
  padding-top: 0.5em;
  border: none;
  padding: 0;
  /*margin-left: -1em;*/
  /*border-left: 4px solid #CBECF4;*/
}

.navmenu li {
  background-color: #0f83c1;
}
.navmenu li:hover {
  background-color: #0b76c1;
}