
.content {
  color: #CBECF4;
  font-weight: 500;
  padding-top: 0;
}

.content h5 {
  margin-left: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.content .text {
  padding: 1em;
}

.text ul {
  margin-left: 1em !important;
}

.navmenu {
  text-transform: uppercase;
  margin-right: 1em;
}

.navmenu h5 {
  margin-left: 8px;
}

.navmenu ul {
  padding-top: 0.5em;
  border: none;
  border-left: 4px solid #CBECF4;
}

.indexImage {
  background-position: right bottom;
}