
.content {
  color: #CBECF4;
  font-weight: 500;
}

.content h5 {
  margin-left: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.content .text {
  padding: 1em;
}

.text ul {
  margin-left: 1em !important;
}

.navmenu {
  padding-top: 1em;
  top: calc(7.5em - 1px);
  width: 20%;
  max-width: 240px;
  position: fixed;
  background-color: #046F88;
  text-transform: uppercase;
  border-top: 1em solid #CBECF4;
  border-bottom: 1em solid #CBECF4;
}

.navmenu ul {
  border: none;
}