
@import url('./foundation.min.css');

/* Standard css used on each page */
/* Standard colours
  - #32A3BD
*/


:root {
  --main-color: #009ccc
}

/* -----===== FOOTER CSS =====----- */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.footer {
  text-align: center;
  background-color: #282C34;
}

.footer p {
  color: #ABB2A8;
}
.footer a {
  color: #FF9E3E;
}
/* -----===== END FOOTER CSS =====----- */

.logo {
  width: auto;
  max-height: 2.5em;
}

.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1.75em 0;
  background-color: #034E60;
  border-bottom: 1px solid rgba(187,234,245,0.25);

  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-bar.scrolled {
  background-color: #034E60;
  padding: 1em 0;
}

.top-bar .title {
  display: inline-block;
  position: fixed;
  opacity: 0.0;
  margin-left: 3em;

  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-bar.scrolled .title {
  /*margin-top: 0.5em;*/
  display: block;
  opacity: 1.0;
  float: left;
  padding: 0 1em;
  margin-left: 4em;
}

.top-bar .columns {
  padding: 0;
}

.top-bar ul {
  background-color: transparent;
  font-weight: 800;
  display: table;
  margin: 0 auto;
}

.top-bar ul li {
  display: table-cell;
}

.top-bar li a {
  margin-left: .5em;
  margin-right: .5em;
  text-transform: uppercase;
  color: #BBEAF5;
  font-size: 0.9em;
  /*border-bottom: 3px solid #eee;*/
}

.top-bar li ul li a {
  color: rgb(141,168,191);
}

.top-bar li a.selected, .top-bar li a:not(.selected):hover{
  color: #FF9E3E;
  font-weight: bolder;
}

.top-bar.scrolled li a.selected {
  /*background-color: #eee;*/
  /*border-bottom: 3px solid #2199e8;*/
  font-weight: bolder;
  color: #FF9E3E;
}

@media (max-width: 60em) {
  .top-bar.scrolled .title {
    opacity: 0.0;
  }
}

@media (min-width: 0px) and (max-width: 40em) {

  .top-bar ul.menu {
    white-space: normal;
    display: block;
    overflow: visible;
    margin-top: 0.5em;
  }

  .top-bar ul li {
    width: 100%;
    display: block;
  }
}

.content {
  padding-top: 120px;
}

.columns {
  padding: 0;
}

.footer p {
  padding-top: 1em;
}
