
@import url('./foundation.min.css');

/* Standard css used on each page */

:root {
  --main-color: #009ccc
}

.logo {
  width: auto;
  height: 5em;
}

.top-bar {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(31,31,31,0.05);
}

.top-bar.animated {
  background-color: rgba(31,31,31,1);
}

.top-bar ul {
  background-color: transparent;
}