tbody {
  background-color: transparent !important;
  border: none;
}

tbody tr:nth-child(2n) {
  background-color: rgba(24, 24, 24, 0.1) !important;
}

.test .row {
  padding-left: 1em;
  padding-right: 1em;
}

.skipped {
  background-color: rgba(255, 24, 24, 0.3) !important;
}

.test_slider {
  background: #034E60 !important;
  border: none;
  margin-top: 5px;
}

.str_slider {
  padding-left: 3em;
  padding-right: 1em;
  z-index: -2 !important;
}

.str_slider .left, .str_slider .right {
  position: relative;
  z-index: 1 !important;
  color: #bbb;
  font-size: 0.5em;
  padding-top: 0.5em;
}

.str_slider .left {
  float: left;
  padding-left: 1em;
}

.str_slider .right {
  float: right;
  padding-right: 1em;
}

@media (max-width: 40em) {
  .str_slider {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0em !important;
    padding-right: 0em !important;
  }
}